doctype html
html
  head
    title='Welcome'
    link(href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css", rel="stylesheet")
    link(href="main.css", rel="stylesheet")
  body
    div#app
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")
    script(type='text/javascript', src="react-with-addons.js")
    script(type='text/javascript', src="bundle.js")
